.medicationDetails--container {
    margin-top: 1em;  
}

.medicationDetails {
    background-color: #f1f1f1;
}

.background-red {
    background-color: red;
  }


.btn-all {
    display: flex;
    justify-content: center;
}

.btn-edit, .btn-delete, .btn-rx-details, .btn-expand {
    margin: 5px;
    background-color:#acbea370;
    color: black;
    
 }

 .btn-rxID-container {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .btn-rxID:hover {
     transform: scale(1.2);
 }
 
 .img-thumbnail-details {
     max-width: 50%;
     align-self:center;
 }