.medicationDetails--container {
    margin-top: 1em;  
}

.medicationDetails {
    background-image: url(https://cdn.pixabay.com/photo/2016/08/01/20/15/green-1562016_1280.png);
    /* opacity: 0.8; */
}

.background-red {
    background-color: red;
  }


.btn-all {
    display: flex;
    justify-content: center;
}

.btn-edit, .btn-delete, .btn-rx-details, .btn-expand {
    margin: 5px;
    background-color:#40476dd7;
    border: none;
    color: black;
    
 }

 .btn-rxID-container {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .btn-rxID:hover {
     transform: scale(1.2);
 }
 
 .img-thumbnail-details {
     max-width: 50%;
     align-self:center;
 }