.span-medicationDetail {
    display: flex;
    justify-content: center;
}

.medication-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
 
} 

 .card-style {
    max-width: 90%;
    display: flex;
    flex: 2;
    flex-direction: column;
    margin: 15px; 
}

.card-item-style-details {
    max-width: 50%;
    max-height: 75%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: #f1f1f1
} 

.card-toggle-style {
    max-width: 60%;
    align-content: space-around;
    margin-top: 20px;
    flex: 2;
    background-color: #f1f1f1
} 

.btn-all {
    display: flex;
    justify-content: center;
}

.btn-edit, .btn-rxID, .btn-delete, .btn-rx-details, .btn-expand {
    margin: 5px;
    background-color:  #40476d
 }

 .btn-rxID-container {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .img-thumbnail {
     max-width: 50%;
     align-self:center;
 }