h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

.addMedication-image--label {
    display: flex;
    justify-content: center;
}

.section-currentMedicationList--container {
    margin-top: 3em;
    margin-bottom: 1em;
    
      
}

.card-deck { 
    width: 100%;
}

/* .card-deck .card {
    width: initial;
} */


.span-addDrug-container {
    display:flex;
    text-align: center;
    justify-content: center;
    
}

.img-addDrug:hover {
    transform: scale(1.2);
}

.btn-addMedication {
    background-color: #40476d;
}





