* {
    font-family: 'Noto Sans', sans-serif;
}

.span-date {
    display: flex;
    justify-content: center;  
}

.medicationCard  {
    background-color: #acbea370;
    box-shadow: 1px 1px 1px inset;
    margin: 2em;
    
}

.card {
    /* height: 100%; */
    width: 100%;
   
}

.background-yellow {
    background-color: yellow;
}

.checkbox-alignment {
    display: flex;
    justify-content: center;
}


.btn-all-medicationCard {
    display: flex;
    justify-content: center;
}

.btn-rxDetails-container {
    display: flex;
    justify-content: center;
}

.btn-edit-medList, .btn-expand-medList, .btn-delete-medList, .btn-rx-details-medList {
   margin: 5px;
   border: none;
   background-color: #40476dd7;
}


.img-thumbnail-medicationCard {
    max-width: 10%;
}

 /* .list-group-item-notes {
    overflow: hidden;
   
} */