.editPharmacyForm--container {
  width: 50%;
  margin-left: 25%;
}

.editPharmacyFormButtons--container {
  display: flex;
  justify-content: center;
}

.btn-editPharmacy {
  margin-right: 0.5rem;
  color: #f1f1f1;
  background-color: #444f8fb9;
}

.btn-canceleditPharmacy {
  margin-left: 0.5rem;
  background-color: #acbea380;
}
