.checkbox-saveToMedList {
    color: #f1f1f1
}

.span-date-history {
    display: flex;
    justify-content: center;
    color: #f1f1f1
    
}

.medicationHxCard {
    background-color: #40476d8f;
}

.span-checkbox-medicationHx {
    display: flex;
    justify-content: center;
}


.btn-all {
    display: flex;
      
}

.btn-all-rxDetails {
    display: flex;
    
    justify-content: center;
}

.btn-edit, .btn-delete, .btn-rx-details, .btn-expand {
  
   
}

.img-thumbnail-medicationHx {
    max-width: 15%;
}
