.span-date-history {
    display: flex;
    justify-content: center;
    color: #40476dbc;
    font-size: 20px; 
}

.card {
    width: 100%;
    margin-bottom: 10px; 
}

.medicationHxCard {
    background-color: darkolivegreen;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/01/20/15/green-1562016_1280.png);
    /* background-image: url(https://cdn.pixabay.com/photo/2014/09/23/15/03/background-457811_1280.png); */
    /* background-color: #40476d8f; */
    box-shadow: 1px 1px 1px inset;
    margin: 10px;
}

.btn-all-medicationHx {
    display: flex;
    justify-content: center;
      
}

.btn-edit-medHxList, .btn-expand-medHxList, .btn-delete-medHxList, .btn-rx-details-medHxList {
    margin: 5px;
    border: none;
    background-color: #40476dd7;
 }
 

.img-thumbnail-medicationHx {
    max-width: 15%;
}
